/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

swiper-container {
  height: 100%;
  width: 100%;
}

swiper-slide {
  display: flex;
  align-items: center;
}

swiper-slide h1 {
  font-size: 28px;
  font-family: "Metropolis", sans-serif;
  color: #20123a;
}

.swiper-slide ion-text {
  font-family: "Inter", sans-serif;
}

#MyGardenTitle {
  font-family: "Bebas Neue", cursive !important;
  font-size: 40px;
}

@media (prefers-color-scheme: dark) {
  swiper-slide h1 {
    color: white;
  }
}
