<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="clickTab('tab1')" tab="tab1">
      <ion-icon
        [name]="
          tabSelected === '/tabs/tab1' ? 'apps' : 'apps-outline'
        "></ion-icon>
      <ion-label>{{ "TAB1.title" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      (click)="clickTab('tab2')"
      class="forwardTab2Tour"
      tab="tab2">
      <ion-icon
        [name]="
          tabSelected === '/tabs/tab2' ? 'map' : 'map-outline'
        "></ion-icon>
      <ion-label>{{ "TAB2.title" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="clickTab('tab3')" tab="tab3">
      <ion-icon
        [name]="
          tabSelected === '/tabs/tab3'
            ? 'information-circle'
            : 'information-circle-outline'
        "></ion-icon>
      <ion-label>{{ "TAB3.title" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
