<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "TAB1.title" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "TAB1.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-vegetables-list></app-vegetables-list>
</ion-content>
