#canvasContainer {
  width: 100%;
  height: 100%;
}

button {
  position: absolute;
  z-index: 1;
}

#featureButtons-top {
  margin-top: -17em;
}

#featureButtons-right {
  margin-top: -4em;
  margin-left: 4em;
}

@media only screen and (orientation: landscape) {
  #featureButtons-top {
    margin-top: -4em;
    margin-left: 4em;
    display: inline-flex;
  }

  #featureButtons-right {
    margin-top: -8em;
    margin-left: 0.3em;
  }
}
