<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="6">
          <h2>
            {{ "TAB1.modal.inGarden.planting" | translate | uppercase }}
          </h2>
          <ion-text *ngIf="monthOfPlanting.length === 2" color="dark">
            {{ monthOfPlanting[0] }} -
            {{ monthOfPlanting[1] }}
          </ion-text>
          <ion-text *ngIf="monthOfPlanting.length === 1" color="dark">
            {{ monthOfPlanting[0] }}
          </ion-text>
        </ion-col>
        <ion-col class="ion-text-center" size="6">
          <h2>
            {{ "TAB1.modal.inGarden.harvest" | translate | uppercase }}
          </h2>
          <ion-text *ngIf="monthOfHarvest.length === 2" color="dark">
            {{ monthOfHarvest[0] }} -
            {{ monthOfHarvest[1] }}
          </ion-text>
          <ion-text *ngIf="monthOfHarvest.length === 1" color="dark">
            {{ monthOfHarvest[0] }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col
          *ngIf="vegetable.cultureSheets.quickInfos.coldResistance"
          size="6">
          <div class="quickItem" id="cold-modal">
            <ion-icon
              name="snow-outline"
              size="large"
              style="color: var(--ion-color-secondary)">
            </ion-icon>
            <ion-label
              [ngSwitch]="vegetable.cultureSheets.quickInfos.coldResistance">
              <span *ngSwitchCase="2">
                {{ "TAB1.modal.inGarden.high" | translate }}
              </span>
              <span *ngSwitchCase="1">
                {{ "TAB1.modal.inGarden.medium" | translate }}
              </span>
              <span *ngSwitchCase="-1">
                {{ "TAB1.modal.inGarden.low" | translate }}
              </span>
            </ion-label>
            <ion-icon name="chevron-forward"></ion-icon>
          </div>
          <ion-modal
            [breakpoints]="[0, 1]"
            initial-breakpoint="1"
            trigger="cold-modal">
            <ng-template>
              <ion-content>
                <ion-grid class="ion-margin">
                  <ion-row>
                    <ion-col>
                      <ion-text>
                        <h4 style="color: var(--ion-color-dark)">
                          {{ "TAB1.modal.inGarden.coldResistance" | translate }}
                        </h4>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ul>
                        <li>
                          <strong>
                            {{ "TAB1.modal.inGarden.high" | translate }} :
                          </strong>
                          {{
                            "TAB1.modal.inGarden.coldResistanceHigh" | translate
                          }}
                        </li>
                        <li>
                          <strong>
                            {{ "TAB1.modal.inGarden.medium" | translate }} :
                          </strong>
                          {{
                            "TAB1.modal.inGarden.coldResistanceMedium"
                              | translate
                          }}
                        </li>
                        <li>
                          <strong>
                            {{ "TAB1.modal.inGarden.low" | translate }} :
                          </strong>
                          {{
                            "TAB1.modal.inGarden.coldResistanceLow" | translate
                          }}
                        </li>
                      </ul>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col *ngIf="vegetable.cultureSheets.quickInfos.waterNeeds" size="6">
          <div class="quickItem" id="water-modal">
            <ion-icon
              name="water-outline"
              size="large"
              style="color: var(--ion-color-secondary-shade)">
            </ion-icon>
            <ion-label
              [ngSwitch]="vegetable.cultureSheets.quickInfos.waterNeeds">
              <span *ngSwitchCase="3">
                {{ "TAB1.modal.inGarden.high" | translate }}
              </span>
              <span *ngSwitchCase="2">
                {{ "TAB1.modal.inGarden.medium" | translate }}
              </span>
              <span *ngSwitchCase="1">
                {{ "TAB1.modal.inGarden.low" | translate }}
              </span>
            </ion-label>
            <ion-icon name="chevron-forward"></ion-icon>
          </div>
          <ion-modal
            [breakpoints]="[0, 0.3, 0.4]"
            [initialBreakpoint]="0.3"
            trigger="water-modal">
            <ng-template>
              <ion-content>
                <ion-grid class="ion-margin">
                  <ion-row>
                    <ion-col>
                      <ion-text>
                        <h4 style="color: var(--ion-color-dark)">
                          {{ "TAB1.modal.inGarden.waterNeeds" | translate }}
                        </h4>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ul>
                        <li>
                          <strong>
                            {{ "TAB1.modal.inGarden.high" | translate }} :
                          </strong>
                          {{ "TAB1.modal.inGarden.waterNeedsHigh" | translate }}
                        </li>
                        <li>
                          <strong>
                            {{ "TAB1.modal.inGarden.medium" | translate }} :
                          </strong>
                          {{
                            "TAB1.modal.inGarden.waterNeedsMedium" | translate
                          }}
                        </li>
                        <li>
                          <strong>
                            {{ "TAB1.modal.inGarden.low" | translate }} :
                          </strong>
                          {{ "TAB1.modal.inGarden.waterNeedsLow" | translate }}
                        </li>
                      </ul>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="vegetable.cultureSheets.quickInfos.rowSpacing" size="6">
          <div class="quickItem" id="row-spacing-modal">
            <ion-icon
              size="large"
              src="assets/icon/arrows_outward.svg"
              style="color: var(--ion-color-tertiary)">
            </ion-icon>
            <ion-label>
              {{ vegetable.cultureSheets.quickInfos.rowSpacing }} cm
            </ion-label>
            <ion-icon name="chevron-forward"></ion-icon>
          </div>
          <ion-modal
            [breakpoints]="[0, 0.3, 0.4]"
            [initialBreakpoint]="0.3"
            trigger="row-spacing-modal">
            <ng-template>
              <ion-content>
                <ion-grid class="ion-margin">
                  <ion-row>
                    <ion-col>
                      <ion-text>
                        <h4 style="color: var(--ion-color-dark)">
                          {{ "TAB1.modal.inGarden.rowSpacing" | translate }}
                        </h4>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-text>
                        <p style="color: var(--ion-color-dark)">
                          {{ "TAB1.modal.inGarden.rowSpacingDesc" | translate }}
                        </p>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col
          *ngIf="vegetable.cultureSheets.quickInfos.spacingBtRows"
          size="6">
          <div class="quickItem" id="spacingBt-row-modal">
            <ion-icon
              size="large"
              src="assets/icon/format_letter_spacing.svg"
              style="color: var(--ion-color-tertiary-shade)">
            </ion-icon>
            <ion-label>
              {{ vegetable.cultureSheets.quickInfos.spacingBtRows }} cm
            </ion-label>
            <ion-icon name="chevron-forward"></ion-icon>
          </div>
          <ion-modal
            [breakpoints]="[0, 0.3, 0.4]"
            [initialBreakpoint]="0.3"
            trigger="spacingBt-row-modal">
            <ng-template>
              <ion-content>
                <ion-grid class="ion-margin">
                  <ion-row>
                    <ion-col>
                      <ion-text>
                        <h4 style="color: var(--ion-color-dark)">
                          {{ "TAB1.modal.inGarden.spacingBtRows" | translate }}
                        </h4>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-text>
                        <p style="color: var(--ion-color-dark)">
                          {{
                            "TAB1.modal.inGarden.spacingBtRowsDesc" | translate
                          }}
                        </p>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col
          *ngIf="vegetable.cultureSheets.quickInfos.compostNeed"
          size="9">
          <div class="quickItem">
            <ion-icon
              size="large"
              src="assets/icon/compost.svg"
              style="color: var(--ion-color-success-shade)">
            </ion-icon>
            <ion-label
              [ngSwitch]="vegetable.cultureSheets.quickInfos.compostNeed">
              <span *ngSwitchCase="1">
                {{ "TAB1.modal.inGarden.compost" | translate }} : <i>2</i> ~
                <i>3</i> kg/m<sup>2</sup>
              </span>
              <span *ngSwitchCase="2">
                {{ "TAB1.modal.inGarden.compost" | translate }} : <i>4</i> ~
                <i>5</i> kg/m<sup>2</sup>
              </span>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div
      *ngIf="vegetable.cultureSheets.plantation !== null"
      class="box purple-color shadow">
      <h1>
        <ion-icon src="../../assets/icon/plant-line.svg"></ion-icon>
        {{ "TAB1.modal.inGarden.planting" | translate }}
      </h1>
      <p>{{ vegetable.cultureSheets.plantation }}</p>
      <p *ngIf="vegetable.cultureSheets.plantingInterval !== null">
        <strong>{{ "TAB1.modal.inGarden.interval" | translate }} :</strong>
        {{ vegetable.cultureSheets.plantingInterval }}
        {{ "TAB1.modal.inGarden.years" | translate }}
      </p>
    </div>
    <div
      *ngIf="vegetable.cultureSheets.harvest !== null"
      class="box blue-color shadow">
      <h1>
        <ion-icon src="../../assets/icon/agriculture_white_24dp.svg"></ion-icon>
        {{ "TAB1.modal.inGarden.harvest" | translate }}
      </h1>
      <p>{{ vegetable.cultureSheets.harvest }}</p>
    </div>
    <div
      *ngIf="vegetable.cultureSheets.soil !== null"
      class="box orange-color shadow">
      <h1>
        <ion-icon src="../../assets/icon/favorite_white_24dp.svg"></ion-icon>
        {{ "TAB1.modal.inGarden.soil" | translate }}
      </h1>
      <p>{{ vegetable.cultureSheets.soil }}</p>
    </div>
    <div
      *ngIf="vegetable.cultureSheets.tasks !== null"
      class="box green-color shadow">
      <h1>
        <ion-icon
          src="../../assets/icon/volunteer_activism_white_24dp.svg"></ion-icon>
        {{ "TAB1.modal.inGarden.tasks" | translate }}
      </h1>
      <p>{{ vegetable.cultureSheets.tasks }}</p>
    </div>
  </ion-card-content>
</ion-card>
<p style="font-size: 10px">
  {{ "TAB1.modal.inGarden.dateWarning" | translate }}
</p>
