<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->
<ion-grid>
  <ion-row>
    <ion-col>
      <div style="display: flex">
        <ion-spinner class="ion-margin-end" color="primary"></ion-spinner>
        <h4>{{ "MIGRATION.openingApp" | translate }}</h4>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
